body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.redborder {
    border: 2px solid red;
}

.height-fc {
    height: 100vh;
}

.nav-main-ul{
    gap: 30px !important;
    width: 200px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.height-sc{
    height: 60vh;
}

.div-second{
    height: 350px;
    
    gap: 15px;
}

.third-con{
    background-image: url(bg-third.jpg);
    background-size: cover;
    background-attachment: fixed;
}